section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(0, 1216px);

  h4 {
    grid-column: 2 / 3;

    span {
      color: $grey-section-h4;
    }
  }

  .section-grid {
    grid-column: 2 / 3;
    margin-top: 1.65rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.2rem;
    row-gap: 5.6rem;

    .grid-item {
      flex-direction: column;

      .item {
        background: $grey-card;
        border-radius: 16px;
        width: 100%;
        aspect-ratio: 390 / 360;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all 0.3s;

        .item-image {
          width: 100%;
          transition: all 0.3s;
        }

        .item-arrow {
          position: absolute;
          height: 1.75rem;
          width: 1.75rem;
          rotate: -45deg;
          bottom: 2rem;
          right: 2rem;
          opacity: 0;
          transition: all 0.3s;
        }
      }

      .grid-item-title {
        margin-top: 1.64rem;
        transition: all 0.3s;
      }

      .grid-item-price {
        margin-top: 0.544rem;
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  section .section-grid .grid-item .item:hover {
    cursor: pointer;
    box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);

    .item-image {
      scale: 0.82;
      transform: translateY(-24%);
    }

    .item-arrow {
      opacity: 1;
      rotate: 0deg;
    }

    & ~ .grid-item-title {
      color: $red-hover;
    }
  }
}

@media only screen and (max-width: 1200px) {
  section .section-grid {
    grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
  }
}

@media only screen and (max-width: $breakpoint-3) {
  section .section-grid {
    row-gap: 3rem;
  }
}
